<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Commandes</title>
    <meta name="description" content="Les commandes en ligne se terminent le 30 juin !">
    <link rel="canonical" href="https://www.fse-cooperativescolaire-amailloux.com/actualites/ouverture-des-commandes-en-ligne/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Commandes">
    <meta property="og:description" content="Les commandes en ligne se terminent le 30 juin !">
    <meta property="og:url" content="https://www.fse-cooperativescolaire-amailloux.com/actualites/ouverture-des-commandes-en-ligne/">
    <style>
      @import url("/assets/site.css");
    </style>
  </head>
  <body>
<%- include('/_partials/header') %>

    <main class="wrap">
      <article>
        <h1>Commandes</h1>
<p class="u-text-left"><span class="u-font-comic u-fs-sm">Les commandes en ligne se terminent <span class="u-color-brown-red">le 30 juin</span> ! </span></p>
<p class="u-text-justify"> </p>
<p> </p>
<p> </p> </article>
    </main>

<%- include('/_partials/footer') %>
  </body>
</html>
