---
layout: layouts/base.njk
permalink: "index.html"
eleventyComputed:
  firstPage: "{{ (pages | selectattr('indexable') | list | first) }}"
  seoTitle: "{{ site.name }}"
  seoDescription: "Site statique genere depuis Joomla"
  canonicalUrl: "/"
  ogTitle: "{{ site.name }}"
  ogDescription: "Site statique genere depuis Joomla"
  indexable: true
---
<h1>{{ site.name }}</h1>
<p>Bienvenue sur la version statique modernisee du site.</p>
{% if firstPage %}
<p><a href="{{ firstPage.url }}">Acceder au contenu</a></p>
{% endif %}

