<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nous contacter</title>
    <meta name="description" content="Vous pouvez nous contacter par mail à : cooperative.fse.mailloux@gmail.com">
    <link rel="canonical" href="https://www.fse-cooperativescolaire-amailloux.com/nous-contacter/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nous contacter">
    <meta property="og:description" content="Vous pouvez nous contacter par mail à : cooperative.fse.mailloux@gmail.com">
    <meta property="og:url" content="https://www.fse-cooperativescolaire-amailloux.com/nous-contacter/">
    <style>
      @import url("/assets/site.css");
    </style>
  </head>
  <body>
<%- include('/_partials/header') %>

    <main class="wrap">
      <article>
        <h1>Nous contacter</h1>
<p class="u-text-left"><span class="u-fs-sm">Vous pouvez nous contacter par mail à :</span></p>
<p class="u-text-left"><span class="u-fs-sm">cooperative.fse.mailloux@gmail.com</span></p> </article>
    </main>

<%- include('/_partials/footer') %>
  </body>
</html>
