<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photos de classe</title>
    <meta name="description" content="Annuellement, une photo de classe est réalisée et proposée aux familles.">
    <link rel="canonical" href="https://www.fse-cooperativescolaire-amailloux.com/fse/fse-les-actions/photos-de-classe/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Photos de classe">
    <meta property="og:description" content="Annuellement, une photo de classe est réalisée et proposée aux familles.">
    <meta property="og:url" content="https://www.fse-cooperativescolaire-amailloux.com/fse/fse-les-actions/photos-de-classe/">
    <style>
      @import url("/assets/site.css");
    </style>
  </head>
  <body>
<%- include('/_partials/header') %>

    <main class="wrap">
      <article>
        <h1>Photos de classe</h1>
<p>Annuellement, une photo de classe est réalisée et proposée aux familles.</p> </article>
    </main>

<%- include('/_partials/footer') %>
  </body>
</html>
