<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vente de brioches</title>
    <meta name="description" content="Vente de brioches de la maison BONNIN en mai 2025 pour financer les actions du collège (sorties scolaires, matériel, fête de fin d&#39;année, journée de cohési">
    <link rel="canonical" href="https://www.fse-cooperativescolaire-amailloux.com/actualites/vente-de-brioches/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Vente de brioches">
    <meta property="og:description" content="Vente de brioches de la maison BONNIN en mai 2025 pour financer les actions du collège (sorties scolaires, matériel, fête de fin d&#39;année, journée de cohési">
    <meta property="og:url" content="https://www.fse-cooperativescolaire-amailloux.com/actualites/vente-de-brioches/">
    <style>
      @import url("/assets/site.css");
    </style>
  </head>
  <body>
<%- include('/_partials/header') %>

    <main class="wrap">
      <article>
        <h1>Vente de brioches</h1>
<p><strong>Vente de brioches de la maison BONNIN</strong> en mai 2025 pour financer les actions du collège (sorties scolaires, matériel, fête de fin d'année, journée de cohésion des 6ème, ...)</p>
<p>La distribution aura lieu le <span class="u-color-blue"><strong>26 mai 2025 au collège.</strong></span></p>
<p>Les bons de commande seront très prochainement remis auprès des élèves.</p> </article>
    </main>

<%- include('/_partials/footer') %>
  </body>
</html>
